<div class="container">
<div class="row">
    
 <div class="col-md-3">
   <%= render 'books/list', book: @book, user: @user %>
</div>

<div class="col-md-8 offset-md-1">
<table>
    
 <tr>
 <th>Image</th>
 <th>Name</th>
 <th></th>
 </tr>
   <% @users.each do |user| %>
 <tr> 
    <th><p class="item"><%= link_to user_path(user) do %><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><% end %></p></th>
    <th><p class="item"><%= link_to(user.name, "/users/#{user.id}") %></p></th>
    <th><p class="item"><%= link_to "Show", user_path(user) %></p></th>
 </tr>
  <% end %>
</table> 
</div>

</div>
</div>