<div class="container">
<div class="row">
 <div class="col-md-3">
   <%= render 'books/list', book: @book, user: @user %>
</div>

<div class="col-md-8 offset-md-1">
<ul class="users">
<thead>
    <th>image</th>
    <th>name</th>
    <th colspan = "3" ></th>
</thead>
  <% @users.each do |user| %>

    <table>
    <sction class="detail">
    <div class="item"><%= link_to user_path(user) do %><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><% end %></div>
    <div class="item"><%= link_to(user.name, "/users/#{user.id}") %></div>
    <div class="item"><%= link_to "Show", user_path(user) %>
    </sction></table>
  <% end %>
</ul>
</div>
</div>
</div>