<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<body>
  
<div>
<%= render 'books/list', book: @book, user: @user %>
</div>  

<span>Title</span>
<span>Opinion</span> 
<% @books.each do |book| %>

<sction class =detail>
<table>
  <div class="item"><%= link_to book_path(book.id) do %><p><%= book.title %></p> <% end %></div> 
  <div class="item"><p><%= book.body %></p></div>
</table>
</sction>
</body>
<% end %>
