<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script src="https://kit.fontawesome.com/*******.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <header >
    <div class="container-application">
    <h2><%= link_to "Bookers", root_path %></h2>
    
    <div class="header-bar"> 
  　　　<% if user_signed_in? %>
      <span>
        <%= link_to 'Home', user_path(current_user.id), class: "fas fa-home" %>
      </span>

      <span>
        <%= link_to "Users", users_path, class: "fas fa-users" %>
      </span>

      <span>
        <%= link_to "Books", books_path, class: "fas fa-book-open" %>
      </span>

      <span>
        <%= link_to "logout", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %>
      </span>

    <% else %>
      <span>
        <%= link_to "Home", root_path, class: "fas fa-home" %>
      </span>
      <span>
       <%= link_to "About", home_about_path, class: "fas fa-link" %>
      </span>
      <span>
       <%= link_to "sign up", new_user_registration_path, class: "fas fa-user-plus" %>
      </span>
      <span>
       <%= link_to "login", new_user_session_path, class: "fas fa-sign-in-alt" %>
      </span>
    <% end %>
    </div>
    
    </div>
    </header>

    <main class="mb-auto">
    <%= yield %>
    </main>

 <footer>
 <p>CopyRight Infratop.inc</p>
</footer>
</html>
