<h1>Editing Book</h1>

<% @book.errors.full_messages.each do |message| %>
 <div id="error_explanation">
 <p>This error prohibited this book from being saved:</p>
 <li><%= message %></li></div>
<% end %>

<%= form_with model:@book, local: true do |f| %>

<div class="container">
 <div class = "field">
  <p>Title</p>
  <%= f.text_field :title %>
 </div>

 <div class = "field">
  <p>Body</p>
  <%= f.text_area :body %>
 </div>

 <div class = "field">
  <%= f.submit 'Update Book',class: 'btn btn-success' %>
 </div>
<% end %>

<%= link_to "Show", book_path(@book) %>
|
<%= link_to "Back", books_path %>

</div>

