
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<main>
<div class="container">
<div class="row">

<div class="col-md-3">
<%= render 'books/list', book: @book, user: @user %>
</div>

<div class="col-md-8 offset-md-1">
<h1>Book detail</h1>

<table>
<tr>
<th>User image</th>
<th>TItle</th>
<th>Opinion</th>
<th>Comments</th>
</tr>

<% @books.each do |book| %>
<tr>
  <th><p class="item"><%= link_to user_path(book.user) do %><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><% end %></p></th>
  <th><p class="item"><%= link_to book_path(book.id) do %><%= book.title %><% end %></p></th>
  <th><p class="item"><%= book.body %></p></th>
  <th><p class="item"><%= book.book_comments.count %></p></th>
</tr>
<% end %>
</table>
</div>

</div>
</div>
</main>
