
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if flash[:notice] %>
  <p id ="notice"><%= flash[:notice] %></p>
<% end %>

<body>
<aside>

<div class="user-info">
<h1>User info</h1>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<p>name:<%= @user.name %></p>
<P>introduction:<%= @user.introduction %></P>
<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>
</div>

<%= render 'books/list', books: @books %>
</aside>

<main>
<h1>Book detail</h1>
<% @books.each do |book| %>
<table>
<sction class =detail>
  <div class="item"><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></div>
  <div class="item"><%= link_to book_path(book.id) do %><p><%= book.title %></p></div>  <% end %>
  <div class="item"><p><%= book.body %></p></div>

<% end %>
</sction>
</table>
</main>
</body>
