<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="post-body">

<aside>
<div class="user-info">
<h1>User info</h1>
</div>

<%= render 'books/list', books: @books %>

</aside>



<% if flash[:notice] %>
  <p id ="notice"><%= flash[:notice] %></p>
<% end %>

<h1>Book detail</h1>

<section class="detail">
  <p class=item><%= @book.user.name %></p>
  <p class=item><%= @book.title %></p>
  <p class=item><%= @book.body %></p>

  <% if @book.user == current_user %>
<p class=item><%= link_to "Edit", edit_book_path(@book) %></p>

<p class=item><%= link_to "Destory", book_path(@book), method: :delete %></p>
  <% end %>

</section>
</div>